<footer>
  <ul>
    <li><a href="/en/">EN</a></li>
    <li><a href="/hr/">HR</a></li>
  </ul>
  <div>
    <a href="">
      {%- include 'gfx/studio-cita-indigo.svg' -%}
      <span class="sr-only">{{ title }}</span>
    </a>
  </div>
  <p>&copy; <a href="">{{ title }}</a></p>
</footer>
