<main>
  {%- if sections -%}
    {% include 'partials/sections' %}
  {%- endif -%}
  {%- if content != blank -%}
    {% include 'partials/content' %}
  {%- endif -%}
  {%- if collection != blank -%}
    {% include 'partials/articles' %}
  {%- endif -%}
</main>
