<!DOCTYPE html>
<html lang="en">
<head>
  <title>CiTA d.o.o.</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta property="og:type" content="website">
  <meta property="og:title" content="CiTA d.o.o.">
  <meta property="og:url" content="https://www.cita.hr">
  <meta property="og:image" content="https://www.cita.hr/gfx/svg/CiTA.png">
  <meta property="og:site_name" content="CiTA d.o.o.">
  <meta property="og:description" content="CREATIVE INTERNET TECHNOLOGY AGENCY">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="CiTA d.o.o.">
  <meta name="twitter:description" content="CREATIVE INTERNET TECHNOLOGY AGENCY">
  <meta name="twitter:creator" content="@malimirkeccita">
  <meta property="fb:admins" content="malimirkeccita">
  <meta property="fb:app_id" content="370859666686273">
  <link rel="publisher" href="125520998057914">
  include ./assets/favicon.pug
  include ./assets/critical-css.pug
</head>
<body>
  include ./markdown/index.pug
  include ./assets/deferred-styles.pug
  include ./assets/foft-font-loading.pug
  include ./assets/scripts.pug
</body>
</html>
