* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  background-color: cornflowerblue;
}

.cita {
  padding: 10px;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
}

.cita__word {
  fill: dodgerblue;
}