body {
  align-items: center;
  background-image: radial-gradient(circle at center, transparentize($color-gamma, 0.65), transparentize($color-epsilon, 0.85));
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

h1,
p,
a {
  color: $color-alpha;
  margin-bottom: 0.15em;
}

h1 {
  font-size: ms(1);
  letter-spacing: 0.1em;
}

p,
a {
  font-size: ms(0);
  letter-spacing: 0.01em;
}

.logo {
  margin-bottom: 2rem;
  max-width: 100%;
}
