<!DOCTYPE html>
<html lang="en">

<head>
  <title>CiTA d.o.o.</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="rect">
    <div class="rect__element rect__element--CiTA">
      ${require('../../gfx/logo/CiTA-rect.svg')}
    </div>
    <div class="rect__element rect__element--C">
      <h2 class="rect__tagline">${require('../../gfx/logo/C.svg')} <span class="rect__tagline-text rect__tagline-text--C"><span class="rect__tagline-text-letter">C</span>ontent</span>
      </h2>
      <div class="rect__text">
        <p>Error 404</p>
      </div>
    </div>
    <div class="rect__element rect__element--i">
      <h2 class="rect__tagline">${require('../../gfx/logo/i.svg')} <span class="rect__tagline-text rect__tagline-text--i"><span class="rect__tagline-text-letter">i</span>s</span>
      </h2>
      <div class="rect__text">
        <p><a href="/">Go to Home page →</a></p>
      </div>
    </div>
    <div class="rect__element rect__element--T">
      <h2 class="rect__tagline">${require('../../gfx/logo/T.svg')} <span class="rect__tagline-text rect__tagline-text--T"><span class="rect__tagline-text-letter">T</span>emporarily</span>
      </h2>
      <div class="rect__text">
        <p>Not found.</p>
      </div>
    </div>
    <div class="rect__element rect__element--A">
      <h2 class="rect__tagline">${require('../../gfx/logo/A.svg')} <span class="rect__tagline-text rect__tagline-text--A"><span class="rect__tagline-text-letter">A</span>bsent</span>
      </h2>
      <div class="rect__text">
        <p><a href="/hr/">Idi na početnu stranicu →</a></p>
      </div>
    </div>
  </div>
</body>

</html>
