<!DOCTYPE html>
<html lang="en">

<head>
  <title>CiTA d.o.o.</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="wrapper">
    <a class="logo" href="/">
      ${require('../../gfx/logo/cita-line.svg')}
    </a>
    <article class="info">
      <header class="info__header">
        <h1 class="info__title">
          Error 404
        </h1>
      </header>
      <main class="info__body">
        <p>Page not found.</p>
        <p>Return to <a href="/">home page</a>.</p>
      </main>
    </article>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Exo 2:thin']
      }
    });
  </script>
</body>

</html>
