<!DOCTYPE html>
<html lang="en">

<head>
  <title>CiTA d.o.o.</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  ${require('./partials/og.html')}
</head>

<body>
  <div class="wrapper">
    <a class="logo" href="">
      ${require('../../gfx/logo/cita-line.svg')}
    </a>
    <article class="tech">
      <a href="/" class="language">En</a>
      <main class="tech__body">
        <h1 class="tech__title">Želimo vam pomoći s vašim projektima</h1>
        <p>Glavni cilj naše tvrtke je kreiranje pristupačnih i oku ugodnih korisničkih sučelja s fokusom na korisničkom iskustvu. Uživamo u izradi lako održivih stilskih vodiča koji sadrže modularne komponente koje se mogu ponovno koristiti. Od tehnologija naši favoriti su SASS, Webpack, Gulp i Markdown, da nabrojimo samo nekolicinu.</p>
        <p>Ako ste zainteresirani za suradnju, javite nam se.</p>
        <a href="mailto:silvestar@cita.hr" class="tech__link">Kontakt</a>
      </main>
    </article>
    <article class="tagline">
      <div class="tagline__word tagline__word">Creative</div>
      <div class="tagline__word tagline__word">Internet</div>
      <div class="tagline__word tagline__word">Technology</div>
      <div class="tagline__word tagline__word">Agency</div>
    </article>
    <article class="info">
      <main class="info__body">
        <h1 class="info__title">
          CiTA d.o.o. za računalno programiranje i usluge<br>CiTA d.o.o.
        </h1>
        <p>Sjedište/adresa: Josipovac (Grad Osijek) | Sunčana 6</p>
        <p>Nadležni sud: Trgovački sud u Osijeku</p>
        <p>Temeljni kapital: 20.000,00 kuna | uplaćen u cijelosti</p>
        <p>MBS: 030188176</p>
        <p>OIB: 54399369952</p>
        <p>Račun: HR9423400091110866884 | Privedna banka Zagreb, Radnička cesta 50, Zagreb</p>
        <p>Osnivač i direktor: <a href="//www.silvestarbistrovic.from.hr">Silvestar Bistrović</a></p>
      </main>
    </article>
  </div>
  ${require('./partials/fonts.html')}
  ${require('./partials/css-style.html')}
  ${require('./partials/ga.html')}
</body>

</html>
