<!DOCTYPE html>
<html lang="en">

<head>
  <title>CiTA d.o.o.</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:type" content="website">
  <meta property="og:title" content="CiTA d.o.o.">
  <meta property="og:url" content="https://www.cita.hr">
  <meta property="og:image" content="https://www.cita.hr/gfx/logo/CiTA-rect.png">
  <meta property="og:site_name" content="CiTA d.o.o.">
  <meta property="og:description" content="CREATIVE INTERNET TECHNOLOGY AGENCY">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="CiTA d.o.o.">
  <meta name="twitter:description" content="CREATIVE INTERNET TECHNOLOGY AGENCY">
  <meta name="twitter:creator" content="@malimirkeccita">
  <meta property="fb:admins" content="malimirkeccita">
  <meta property="fb:app_id" content="370859666686273">
  <link rel="publisher" href="125520998057914">
</head>

<body>
  <div class="rect">
    <div class="rect__element rect__element--CiTA">
      ${require('../../gfx/logo/CiTA-rect.svg')}
    </div>
    <div class="rect__element rect__element--C">
      <h2 class="rect__tagline">${require('../../gfx/logo/C.svg')} <span class="rect__tagline-text rect__tagline-text--C"><span class="rect__tagline-text-letter">C</span>reative</span>
      </h2>
      <div class="rect__text">
        <p>We are creative</p>
        <p>in finding</p>
        <p>
          <u>the right solution</u>
        </p>
        <p>for your projects.</p>
      </div>
    </div>
    <div class="rect__element rect__element--i">
      <h2 class="rect__tagline">${require('../../gfx/logo/i.svg')} <span class="rect__tagline-text rect__tagline-text--i"><span class="rect__tagline-text-letter">I</span>nternet</span>
      </h2>
      <div class="rect__text">
        <p>We are oriented</p>
        <p>in delivering</p>
        <p>
          <u>the best experience</u>
        </p>
        <p>for every web user.</p>
      </div>
    </div>
    <div class="rect__element rect__element--T">
      <h2 class="rect__tagline">${require('../../gfx/logo/T.svg')} <span class="rect__tagline-text rect__tagline-text--T"><span class="rect__tagline-text-letter">T</span>echnology</span>
      </h2>
      <div class="rect__text">
        <p>We are using</p>
        <p>the latest</p>
        <p>
          <u>front-end magic tricks</u>
        </p>
        <p>in our work.</p>
      </div>
    </div>
    <div class="rect__element rect__element--A">
      <h2 class="rect__tagline">${require('../../gfx/logo/A.svg')} <span class="rect__tagline-text rect__tagline-text--A"><span class="rect__tagline-text-letter">A</span>gency</span>
      </h2>
      <div class="rect__text rect__text--small">
        <p>CiTA d.o.o.</p>
        <p>Croatia | Josipovac | Sunčana 6</p>
        <p>030188176 | 54399369952</p>
        <p>HR9423400091110866884</p>
        <p><a href="mailto:silvestar@cita.hr?Subject=Hello">silvestar@cita.hr →</a></p>
      </div>
    </div>
  </div>
</body>

</html>
