<!DOCTYPE html>
<html lang="en">

<head>
  <title>CiTA d.o.o.</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="wrapper">
    <a class="logo" href="/">
      ${require('../../gfx/logo/cita-line.svg')}
    </a>
    <article class="info">
      <header class="info__header">
        <h1 class="info__title">
          CiTA d.o.o. za računalno programiranje i usluge<br>CiTA d.o.o.
        </h1>
      </header>
      <main class="info__body">
        <p>Sjedište/adresa: Josipovac (Grad Osijek) | Sunčana 6</p>
        <p>Nadležni sud: Trgovački sud u Osijeku</p>
        <p>Temeljni kapital: 20.000,00 kuna | uplaćen u cijelosti</p>
        <p>MBS: 030188176</p>
        <p>OIB: 54399369952</p>
        <p>Račun: HR9423400091110866884 | Privedna banka Zagreb, Radnička cesta 50, Zagreb</p>
      </main>
      <footer class="info__footer">
        <p>Osnivač i direktor: <a href="//www.silvestarbistrovic.from.hr">Silvestar Bistrović</a></p>
      </footer>
    </article>
  </div>
  ${require('./partials/fonts.html')}
</body>

</html>
