.content
  img.logo(src="/gfx/svg/CiTA.svg", alt="CiTA", inline)
  h1 CiTA d.o.o.
  p Croatia | Josipovac | SunÄana 6
  p 030188176 | 54399369952
  p HR9423400091110866884
  p
    a(href="mailto:silvestar@cita.hr") silvestar@cita.hr
