html {
  --c1: azure;
  --c2: aquamarine;
  --c3: turquoise;
  --c4: mediumpurple;
  --c5: indigo;
  --c6: skyblue;
  --c7: chocolate;
  --s: min(.1em, 4px);
  --ff1: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
  --ff2: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
  --tr1: 101ms;
  --tr2: 303ms;
  --tr3: 3030ms;
}

body {
  background-color: var(--c1);
  background-image:  linear-gradient(to bottom, transparent, var(--c1)), linear-gradient(to bottom, transparent 50%, var(--c1) 50%);
  background-size: 100%, 100% .1rem;
  background-attachment: fixed;
  color: var(--c5);
  font-family: var(--ff2);
  line-height: 1.3;
  display: grid;
  margin: unset;
}

::selection {
  color: var(--c5);
  background-color: var(--c2);
}

:is(a) {
  color: inherit;
  text-decoration-thickness: .05em;
}

:is(ul) {
  margin-inline: unset;
  padding-inline-start: 1em;
}

:is(li) {
  margin-block: 0.33em;
}

:is(header, footer) {
  background-color: var(--c2);
}

header {
  padding-block: .5rem 1rem;
  mask: conic-gradient(from -20deg at bottom,#0000,#000 1deg 39deg,#0000 40deg) 50%/0.73rem 100%;
  position: fixed;
  inline-size: 100%;
  z-index: 3;
}

footer {
  padding-block: 1rem .5rem;
  mask: conic-gradient(from 160deg at top,#0000,#000 1deg 39deg,#0000 40deg) 50%/0.73rem 100%
}

:is(header, footer) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 3rem;
  row-gap: .5rem;
  list-style: none;
  padding-inline: unset;
}

:is(header, footer) a {
  --ts: var(--c3);
  font-family: var(--ff2);
  font-size: max(2dvmin, 0.875rem);
  font-weight: 900;
  letter-spacing: .025em;
  line-height: 1.4;
  text-align: center;
  text-wrap: pretty;
  text-decoration: none;
  text-transform: uppercase;
}

:is(header, footer) svg {
  max-block-size: 3rem;
  inline-size: auto;
}

:is(header, footer) path {
  stroke-width: 1rem;
}

:is(header, footer) a:is(:hover, :focus, :active) {
  color: var(--c4);
}

footer p {
  color: var(--c4);
  font-size: max(2.4dvmin, 1rem);
  font-weight: 900;
  letter-spacing: 0.1em;
  text-align: center;
}

section {
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.025));
  display: grid;
  align-items: center;
  padding-inline: 1rem;
  margin-block-end: -1rem;
  padding-block: 20dvmin;
}

section:not(:last-child) {
  mask: conic-gradient(from -20deg at bottom,#0000,#000 1deg 39deg,#0000 40deg) 50%/0.73rem 100%, conic-gradient(from -20deg at top,#0000,#000 1deg 39deg,#0000 40deg) 50%/0.73rem 100%;
}

section:has(.cover) {
  position: relative;
}

.cover {
  display: flex;
  justify-content: end;
  position: fixed;
  inset-inline-end: 3dvw;
  inset-block-start: 25dvh;
  z-index: -1;
}

.cover svg {
  block-size: 40dvmin;
  inline-size: 40dvmin;
  filter: blur(.5rem) opacity(0.2);
  transform: skew(-3deg);
}

section:nth-of-type(odd) .cover svg {
  color: var(--c3);
}

section:nth-of-type(even) .cover svg {
  color: var(--c6);
}

.inner {
  display: grid;
  justify-items: start;
  max-inline-size: min(80rem, 90dvw);
  inline-size: 100%;
  margin-inline: auto;
  /* transform: skew(-1deg); */
}

.title {
  font-family: var(--ff1);
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: -0.05em;
  text-shadow: var(--s) var(--s) 0 var(--c2), -1px -1px 0 var(--c2), 1px -1px 0 var(--c2), -1px 1px 0 var(--c2);
  text-wrap: balance;
  margin-block: 1em;
}

.title:is(h1) {
  font-size: max(5dvmin, 2rem);
}

.title:is(h2) {
  font-size: max(4dvmin, 2rem);
}

.title::first-line {
  font-size: 110%;
}

.subtitle {
  font-family: var(--ff2);
  font-size: max(3dvmin, 1.5rem);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.01em;
}

.description {
  text-wrap: pretty;
  font-size: max(2.5dvmin, 1.25rem);
  max-inline-size: 60ch;
}

.description p {
  margin-block-start: unset;
  margin-block-end: 1em;
}

[class*="__title"] {
  font-size: max(3dvmin, 1.5rem);
  margin-block: 0.5em;
}

[class*="__title"]::first-letter {
  color: var(--c4);
  font-size: 110%;
}

[class*="__title"]:not(:has(a))::first-letter {
  text-decoration: overline;
  text-decoration-thickness: .05em;
}

[class*="__subtitle"] {
  font-size: max(2.5dvmin, 1.25rem);
}

[class*="__description"] {
  font-size: max(2dvmin, 1rem);
}

[class*="__tags"] {
  font-size: max(1.5dvmin, 0.875rem);
}

.cards__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  grid-template-rows: auto 1fr;
  column-gap: clamp(1.25rem, calc(-2.321rem + 9.524vw), 6.25rem); /* min: 20px, max: 100px */
  row-gap: clamp(1.25rem, calc(-0.089rem + 3.571vw), 3.125rem); /* min: 20px, max: 50px */
  inline-size: 100%;
}

.cards__item {
  grid-row: span 2;
  display: grid;
  grid-template-rows: subgrid;
  gap: 0.1rem;
  /* position: relative; */
}

/* .cards__item:before {
  content: "";
  background-image: linear-gradient(-45deg, var(--c7) -600%, transparent 33%, transparent 66%, var(--c7) 600%);
  position: absolute;
  inset: 0;
  border-radius: 1rem;
  transform: scaleX(1.15) scaleY(1.025);
  z-index: -1;
} */

.cards__item h3 {
  margin-block-end: unset;
}

.split__item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: baseline;
  column-gap: 3rem;
  row-gap: 1rem;
  position: relative;
}

/* .split__item:not(:last-of-type) {
  border-block-end: .0313rem solid var(--c7);
} */

.split__item:not(:first-of-type) {
  margin-block-start: clamp(1.25rem, calc(-2.321rem + 9.524vw), 6.25rem); /* min: 20px, max: 100px */
}

.split__item:is(:first-of-type) {
  margin-block-start: clamp(1.25rem, calc(0.357rem + 2.381vw), 2.5rem); /* min: 20px, max: 40px */
}

.split__title,
.split__tags {
  grid-column: 1;
}

.split__description {
  grid-column: 2;
  grid-row: 1 / span 3;
}

.split__title,
.split__tags {
  margin: unset;
}

.split__gfx {
  margin-block: 1rem;
}

.split__gfx svg {
  max-block-size: min(20rem, 90vw);
  inline-size: auto;
}

.action {
  margin-block-start: 2em;
}

.cta {
  background-color: var(--c5);
  color: var(--c1);
  font-family: var(--ff2);
  font-size: max(2dvmin, 0.875rem);
  font-weight: 900;
  letter-spacing: .05em;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-block-size: 4em;
  min-inline-size: 10em;
  padding-inline: 2em;
  border-radius: 10em;
  margin-block: 1rem;
  outline: solid .1em transparent;
  outline-offset: .2em;
  transition: var(--tr1) ease-in;
}

.cta:is([href]) {
  text-decoration: none;
}

.cta:is(:hover, :focus, :active) {
  background-color: var(--c5);
  color: var(--c2);
  outline-color: var(--c4);
  transition: var(--tr2) ease-out;
}
