html {
  --c0: snow;
  --c1: azure;
  --c2: aquamarine;
  --c3: turquoise;
  --c4: mediumpurple;
  --c5: indigo;
  --c6: skyblue;
  --c7: chocolate;
  --s: min(.1em, 4px);
  --ff1: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif;
  --ff2: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;;
  --ff3: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  --tr1: 101ms;
  --tr2: 303ms;
  --tr3: 3030ms;
  scroll-behavior: smooth;
}

body {
  background-color: var(--c1);
  background-image:  linear-gradient(to bottom, transparent, var(--c1)), linear-gradient(to bottom, transparent 50%, var(--c1) 50%);
  background-size: 100%, 100% .1rem;
  background-attachment: fixed;
  color: var(--c5);
  font-family: var(--ff2);
  line-height: 1.3;
  display: grid;
  margin: unset;
}

::selection {
  color: var(--c5);
  background-color: var(--c2);
}

:is(a) {
  color: inherit;
  text-decoration-thickness: .05em;
  text-underline-offset: .1em;
}

:is(ul) {
  margin-inline: unset;
  padding-inline-start: 1em;
}

:is(li) {
  margin-block: .33em;
}

:is(header, footer) {
  background-color: var(--c2);
}

header {
  padding-block: .5rem 1rem;
  mask: conic-gradient(from -20deg at bottom,#0000,#000 1deg 39deg,#0000 40deg) 50%/0.73rem 100%;
  position: sticky;
  inline-size: 100%;
  inset-block-start: 0;
  z-index: 3;
}

footer {
  padding-block: 1rem .5rem;
  mask: conic-gradient(from 160deg at top,#0000,#000 1deg 39deg,#0000 40deg) 50%/0.73rem 100%
}

:is(header, footer) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: max(3dvw, 1rem);
  row-gap: max(1.5dvw, .5rem);
  list-style: none;
  padding-inline: unset;
}

:is(header, footer) li a {
  --ts: var(--c3);
  font-family: var(--ff2);
  font-size: clamp(1rem, calc(.5rem + 1.333vw), 1.5rem);
  font-weight: 900;
  letter-spacing: .025em;
  line-height: 1.4;
  text-align: center;
  text-wrap: pretty;
  text-decoration: none;
  text-transform: uppercase;
}

:is(header, footer) svg {
  max-block-size: 3rem;
  inline-size: auto;
}

:is(header, footer) path {
  stroke-width: 1rem;
}

:is(header, footer) a:is(:hover, :focus, :active) {
  color: var(--c4);
}

footer p {
  color: var(--c4);
  font-size: clamp(.875rem, calc(.75rem + .333vw), 1rem);
  font-weight: 900;
  letter-spacing: .1em;
  text-align: center;
}

section {
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.025));
  display: grid;
  align-items: center;
  padding-inline: 1rem;
  margin-block-end: -1rem;
  padding-block: min(15dvh, 10rem);
}

section:not(:last-child) {
  mask: conic-gradient(from -20deg at bottom,#0000,#000 1deg 39deg,#0000 40deg) 50%/0.73rem 100%, conic-gradient(from -20deg at top,#0000,#000 1deg 39deg,#0000 40deg) 50%/0.73rem 100%;
}

section:has(.cover) {
  position: relative;
}

.cover {
  display: flex;
  justify-content: end;
  position: fixed;
  inset-inline-end: 3dvw;
  inset-block-start: 25dvh;
  z-index: -1;
}

.cover svg {
  block-size: max(40dvmin, 15rem);
  inline-size: max(40dvmin, 15rem);
  filter: blur(.5rem) opacity(.2);
  transform: skew(-3deg);
}

section:nth-of-type(odd) .cover svg {
  color: var(--c3);
}

section:nth-of-type(even) .cover svg {
  color: var(--c6);
}

.inner {
  display: grid;
  justify-items: start;
  max-inline-size: min(80rem, 90dvw);
  inline-size: 100%;
  margin-inline: auto;
  /* transform: skew(-1deg); */
}

.title {
  font-family: var(--ff1);
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: -0.05em;
  text-shadow: var(--s) var(--s) 0 var(--c2), -1px -1px 0 var(--c2), 1px -1px 0 var(--c2), -1px 1px 0 var(--c2);
  text-wrap: balance;
  margin-block: 1em;
}

.title:is(h1) {
  font-size: clamp(1.875rem, calc(0rem + 5vw), 3.75rem);
}

.title:is(h2) {
  font-size: clamp(1.688rem, calc(.25rem + 3.833vw), 3.125rem);
}

.title::first-line {
  font-size: 110%;
}

.subtitle {
  font-family: var(--ff2);
  font-size: clamp(1.563rem, calc(.625rem + 2.5vw), 2.5rem);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.01em;
}

.description {
  text-wrap: pretty;
  font-size: clamp(1.25rem, calc(.938rem + .833vw), 1.563rem);
  max-inline-size: 60ch;
  margin-block-end: 1em;
}

.description p {
  margin-block-start: unset;
  margin-block-end: 1em;
}

[class*="__title"] {
  font-size: clamp(1.563rem, calc(.625rem + 2.5vw), 2.5rem);
  line-height: 1.05;
  margin-block: .5em;
}

[class*="__title"]::first-letter {
  color: var(--c4);
  font-size: 110%;
}

[class*="__title"]:not(:has(a))::first-letter {
  text-decoration: overline;
  text-decoration-thickness: .05em;
  text-underline-offset: .1em;
}

[class*="__subtitle"] {
  font-size: clamp(1.438rem, calc(1rem + 1.167vw), 1.875rem);
  line-height: 1.2;
}

[class*="__description"] {
  font-size: clamp(1.125rem, calc(.75rem + 1vw), 1.5rem);
  line-height: 1.5;
}

[class*="__tags"] {
  font-size: clamp(1rem, calc(.625rem + 1vw), 1.375rem);
  line-height: 1.2;
}

[class*="__note"] {
  display: inline-flex;
  font-size: clamp(1rem, calc(.75rem + .667vw), 1.25rem);
  line-height: 1.5;
  margin-block-start: 3em;
}

[class*="__grid"] {
  inline-size: 100%;
}

.cards__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  grid-template-rows: auto 1fr;
  column-gap: max(5dvw, 2rem);
  row-gap: max(2.5dvw, 1rem);
}

.cards__item {
  grid-row: span 2;
  display: grid;
  grid-template-rows: subgrid;
  gap: .1rem;
}

.cards__item h3 {
  margin-block-end: unset;
}

.split__item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  align-items: baseline;
  column-gap: 3rem;
  row-gap: 1rem;
  position: relative;
}

.split__item:nth-of-type(even) {
  background-image: radial-gradient(closest-side, var(--c1), transparent);
}

.split__item:not(:first-of-type) {
  margin-block-start: clamp(1.25rem, calc(-2.321rem + 9.524vw), 6.25rem);
}

.split__item:is(:first-of-type) {
  margin-block-start: clamp(1.25rem, calc(.357rem + 2.381vw), 2.5rem);
}

.split__title,
.split__tags {
  grid-column: 1;
}

.split__title,
.split__tags {
  margin: unset;
}

.quotes__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(17.5rem, calc(10rem + 20vw), 25rem), 1fr));
  column-gap: max(10dvw, 4rem);
  row-gap: max(5dvw, 2rem);
  margin-block-start: 2em;
}

.quotes__block {
  margin-block: unset;
  margin-inline: unset;
}

.quotes__block details {
  margin-block-end: 1em;
  font-size: clamp(1.125rem, calc(.875rem + .667vw), 1.375rem);
  font-style: italic;
  padding-inline-end: 1em;
}

.quotes__block details + div {
  text-align: right;
  font-size: clamp(1rem, calc(.75rem + .667vw), 1.25rem);
}

.quotes__block summary {
  display: block;
  cursor: pointer;
  position: relative;
}

.quotes__block summary:before {
  font-family: var(--ff3);
  font-size: 125%;
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;
  transform: translate(150%, -50%);
}

.quotes__block details:is([open]) summary:before {
  content: "-";
}

.quotes__block details:not([open]) summary:before {
  content: "+";
}

.quotes__block summary p {
  display: inline;
}

.quotes__block details:not([open]) summary:after {
  font-size: 87.5%;
  font-weight: 700;
  font-style: normal;
  display: block;
  margin-block-start: 1em;
}

[lang="en"] .quotes__block details:not([open]) summary:after {
  content: "More...";
}

[lang="hr"] .quotes__block details:not([open]) summary:after {
  content: "Više...";
}

.contact__form {
  display: grid;
  row-gap: 2em;
  inline-size: min(100%, 30rem);
  margin-block-start: 2em;
}

.contact__row {
  display: grid;
  row-gap: .5em;
}

.contact label {
  font-family: var(--ff3);
  font-weight: 700;
  font-size: clamp(1rem, calc(.75rem + .667vw), 1.25rem);
  letter-spacing: .1em;
  text-transform: uppercase;
}

.contact :is(input, textarea) {
  background-color: var(--c0);
  color: var(--c5);
  font-family: var(--ff2);
  font-weight: 500;
  font-size: clamp(1rem, calc(.75rem + .667vw), 1.25rem);
  letter-spacing: .025em;
  padding-block: .5em;
  padding-inline: .5em;
  border: .125em solid var(--c6);
  border-radius: 0;
  outline: solid .1em transparent;
  outline-offset: .2em;
  transition: var(--tr1) ease-in;
}

.contact :is(input, textarea):is(:hover, :focus, :active) {
  border-color: var(--c4);
  border-radius: 0;
  outline-color: var(--c3);
  transition: var(--tr2) ease-out;
}

.contact button {
  background-color: var(--c5);
  color: var(--c1);
  font-family: var(--ff2);
  font-weight: 900;
  font-size: clamp(1rem, calc(.75rem + .667vw), 1.25rem);
  letter-spacing: .025em;
  text-transform: uppercase;
  padding-block: .75em;
  padding-inline: 1em;
  border: unset;
  cursor: pointer;
  outline: solid .1em transparent;
  outline-offset: .2em;
  transition: var(--tr1) ease-in;
}

.contact button:is(:hover, :focus, :active) {
  color: var(--c2);
  outline-color: var(--c4);
  transition: var(--tr2) ease-out;
}

.action {
  margin-block-start: 1em;
}

.cta {
  background-color: var(--c5);
  color: var(--c1);
  font-family: var(--ff2);
  font-size: clamp(1.125rem, calc(.625rem + 1.333vw), 1.625rem);
  font-weight: 900;
  letter-spacing: .05em;
  text-align: center;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-block-size: 3.2em;
  min-inline-size: 10em;
  padding-inline: clamp(1.25rem, calc(-0.625rem + 5vw), 3.125rem);
  border-radius: 3em;
  margin-block: 1rem;
  outline: solid .1em transparent;
  outline-offset: .2em;
  cursor: pointer;
  transition: var(--tr1) ease-in;
}

.cta:is([href]) {
  text-decoration: none;
}

.cta:is(:hover, :focus, :active) {
  background-color: var(--c5);
  color: var(--c2);
  outline-color: var(--c4);
  transition: var(--tr2) ease-out;
}
