@import "config";
@import "mixins";
@import "animation";

.rect__element {
  text-align: center;
  word-break: break-word;
  margin-bottom: 1px;

  &:not(.rect__element--CiTA) {
    @include css-locks(padding-top padding-right padding-left, $mq-mobile, $mq-desktop, 5px, 10px);
    @include css-locks(padding-bottom, $mq-mobile, $mq-desktop, 20px, 30px);
    background-color: $color;
    color: $white;
    box-shadow: 0 0 6px -2px darken($color, 30%);
  }
}

.rect__element--C {
  transform: translateY(100%) skewY(20deg) scale(.25);
  animation: load $dur $ani #{1 * $dur} forwards,
    animate #{$dur / 2} $ani #{1 * $dur} forwards;
}

.rect__element--i {
  transform: translateX(-100%) skewX(20deg) scale(.25);
  animation: load $dur $ani #{2 * $dur} forwards,
    animate #{$dur / 2} $ani #{2 * $dur} forwards;
}

.rect__element--T {
  transform: translateY(-100%) skewY(-20deg) scale(.25);
  animation: load $dur $ani #{3 * $dur} forwards,
    animate #{$dur / 2} $ani #{3 * $dur} forwards;
}

.rect__element--A {
  transform: translateX(100%) skewX(-20deg) scale(.25);
  animation: load $dur $ani #{4 * $dur} forwards,
    animate #{$dur / 2} $ani #{4 * $dur} forwards;
}

.rect__tagline {
  @include css-locks(font-size, $mq-mobile, $mq-desktop, 17px, 20px);
  text-transform: uppercase;
  margin-bottom: 1em;
}

.rect__tagline-text {
  display: block;

  @include mq($from: mobile) {
    display: inline-block;
  }
}

.rect__tagline-text-letter {
  @include mq($from: mobile) {
    display: none;
  }
}

.rect__tagline-text--C {
  @include mq($from: mobile) {
    transform: translateX(-20px);
  }
}

.rect__tagline-text--i {
  @include mq($from: mobile) {
    transform: translateX(-28px);
  }
}

.rect__tagline-text--T {
  @include mq($from: mobile) {
    transform: translateX(-29px);
  }
}

.rect__tagline-text--A {
  @include mq($from: mobile) {
    transform: translateX(-24px);
  }
}

.rect__text {
  @include css-locks(font-size, $mq-mobile, $mq-desktop, 15px, 18px);
  text-shadow: 0 1px 0 darken($color, 20%);

  u {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 1px solid $white;
  }
}

.rect__text--small {
  font-size: 90%;
}

.cita {
  margin-bottom: 20px;

  @include mq($from: mobile) {
    transform: translateY(22px);
  }
}

.cita--C,
.cita--i,
.cita--T,
.cita--A {
  height: 60px;
}
